@import '../styles/variables';
@import '../styles/mixins';

.preOffer {
  width: 100%;

  &__container {
    margin: 0 auto;
  }

  &__title {
    font-size: $font-size-xxl;
    color: $moveit-text-dark;
    margin-bottom: $spacing-xl;
    text-align: center;
  }

  &__form {
    @include flex-column;
    gap: $spacing-lg;
  }

  &__buttonContainer {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: $spacing-md;
  }
}
